.section {
  height: 100vh;
  width: 100%;
  padding: 10rem 1rem 5rem 1rem;
}

.sectionContent {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}

.sectionContent button {
  display: block;
  width: 100%;
  margin-bottom: 2rem;
  padding: 1rem 2rem;
}